@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: rgb(255, 255, 255);
  background: rgb(17, 24, 38);
}

.-container {
  @apply max-w-[1200px] mx-auto px-7.5;
}

.even-columns {
  @apply grid gap-4;
}

@media (min-width: 1024px) {
  .even-columns {
    @apply grid-flow-col grid-cols-1;
  }
}

.flow *:not(:first-child) {
  margin-top: var(--flow-spacer, 3em);
}

.button {
  @apply inline-flex cursor-pointer rounded py-4 px-5 bg-green-500 
  hover:bg-green-400;
  text-decoration: none;
}

.effect-text {
  background-image: url(../public/assets/graphic_elements.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
